@import './base.css';

body {
  background-color: #c9e1c3;
  font-family: Arial, Helvetica, sans-serif;
  padding: 150px 40px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 40px;
  color: white;
}

h2 {
  font-weight: bold;
  margin: 20px 0 10px 0;
  font-size: 22px;
}

p {
  margin-bottom: 5px;
  line-height: 20px;
}

@media (max-width: 1250px) {
  h1 {
    font-size: 50px;
    margin: 20px 0 50px 0;
  }
}
